langchain
openai
python-telegram-bot
PyMuPDF
faiss-cpu
python-dotenv
psycopg2
python-docx
pandas
openpyxl
tiktoken
langchain-community
langchain-openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
flask
